@import "./vender/scss/bootstrap.scss";

$TABLET_MAX-SIZE: 992px;
$MOBILE_MAX_SIZE: 769px;
$LARGE_SCREEN_MIN_SIZE: 1025px;
$EXTRA_SMALL_DEVICES: 321px;

.font-weight-medium {
  font-weight: 400;
}
.font-weight-regular {
  font-weight: 300;
}
// .landing-pg > h1 {
//   padding-bottom: 24px;
//   border-bottom: 1px solid #e3e8ee;
// }

.content-wrap {
  @media screen and (max-width: $TABLET_MAX-SIZE) {
    padding-right: 0px;
  }
}

.extra-small-text {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  margin: 24px 0;
}

.sidebar-right-container {
  position: fixed;
  right: 0;
  top: 125px;
  bottom: 0;
  width: 265px;
  max-width: 250px;
  padding: 28px 56px;

  @media screen and (max-width: 768px) {
    width: 200px;
  }

  .accordion {
    position: relative;
    .cursor-pointer {
      display: inline;
    }
    .collapse ul,
    .show ul,
    .collapsing ul {
      margin: 0 !important;
    }
  }
}
.sidebar-right-container-extended {
  position: fixed;
  right: 0;
  top: 198px;
  bottom: 0;
  width: 280px;
  max-width: 250px;
  padding: 6px 28px 28px 0px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
  @media screen and (max-width: $TABLET_MAX-SIZE) {
    padding: 28px 28px 28px 0px;
  }
  @media screen and (max-width: $MOBILE_MAX_SIZE) {
    display: none;
  }
  .sidenav-right {
    margin-left: 0;
  }
}

.sidebar-right-container {
  .sidenav-right {
    margin: 0;
  }
  @media screen and (max-width: $MOBILE_MAX_SIZE) {
    display: none;
  }
}

//light colored text for child links in accordions
.accordion-child-link-light {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
}

.sidebar-content-dropdown-container {
  padding: 16px 0px 32px 0px;

  .sidebar-container-dropdown-menu {
    width: fit-content;
    max-width: fit-content;
    background: #fff !important;
    height: fit-content;
    min-height: fit-content;
    z-index: 2;
    border-radius: 4px;
    padding: 0px !important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    @media screen and (max-width: $TABLET_MAX-SIZE) {
      height: fit-content;
    }
    .menu-container {
      padding: 24px 0 24px 24px;
      @media screen and (max-width: $TABLET_MAX-SIZE) {
        padding: 24px 0 0 0;
      }
      @media screen and (max-width: $EXTRA_SMALL_DEVICES) {
        width: 100vw;
      }
      .initial-menu-container {
        @media screen and (max-width: $MOBILE_MAX_SIZE) {
          margin: 0;
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }

    @media screen and (max-width: $MOBILE_MAX_SIZE) {
      min-height: 50vh;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .bottom-icon-container {
      display: none;
      @media screen and (max-width: $MOBILE_MAX_SIZE) {
        padding: 12px 0px;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .icon-container {
          margin-right: 10px;
          a {
            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              opacity: 0.05;
              z-index: 1;
              background: #555555;
            }
          }
        }
      }
    }

    @media screen and (max-width: 321px) {
      transform: translate3d(0px, 40px, 0px) !important;
      overflow: scroll;
    }

    .container {
      // padding: 24px;
      // @media screen and (max-width: $TABLET_MAX-SIZE) {
      //   padding: 0px;
      // }
      .list-item-menu-header {
        padding: 0px 24px 24px 0px;
        font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #555555;
        @media screen and (max-width: $TABLET_MAX-SIZE) {
          padding: 24px;
        }
        @media screen and (max-width: $MOBILE_MAX_SIZE) {
          width: 100%;
        }
      }
      .list-item-row {
        text-align: left;
        margin: 2px 0;
        width: 100%;
        display: flex !important;
        .list-item-title {
          padding-top: 9px;
          .list-item-title-text {
            font-family: inherit;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #212121;
          }
        }
        .list-item-subtitle {
          margin-top: 6px;
        }
      }
    }
  }
}

.landing-pg-extend-sidebar {
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    display: block;
    padding-right: 265px;
    @media screen and (max-width: $MOBILE_MAX_SIZE) {
      padding-right: 24px;
    }
  }
}
.editor-heading {
  padding: 30px 0px 16px 0;
  border-top: 1px solid #e3e8ee;
  .heading-text {
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    margin-bottom: 16px;
    position: relative;
  }
  .subheading-text {
    text-align: left;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
  }
}

.next-button,
.prev-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  outline: none !important;
  border: none;
  display: flex;
  cursor: pointer;
  span {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
  }
}
.prev-button {
  left: 0;
  right: 100%;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.button--primary {
  background: transparent;
  border-color: transparent;
  position: relative;
}

.button--primary:after {
  background: linear-gradient(135deg, #ff1800, #ff009b);
  background-clip: border-box;
  border-radius: 4px;
  bottom: -2px;
  clip-path: polygon(
    2px 100%,
    100% 100%,
    100% 0,
    0 0,
    0 100%,
    2px 100%,
    2px 4px,
    2.21px 3.1px,
    3.1px 2.21px,
    4px 2px,
    calc(100% - 4px) 2px,
    calc(100% - 3.1px) 2.21px,
    calc(100% - 2.21px) 3.1px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2.21px) calc(100% - 3.1px),
    calc(100% - 3.1px) calc(100% - 2.21px),
    calc(100% - 4px) calc(100% - 2px),
    4px calc(100% - 2px),
    3.1px calc(100% - 2.21px),
    2.21px calc(100% - 3.1px),
    2px calc(100% - 4px)
  );
  content: "";
  display: block;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
  transition: opacity 0.4s;
  z-index: 1;
}

.button--primary:before {
  background: linear-gradient(135deg, #ff1800, #ff009b);
  border-radius: 4px;
  bottom: -2px;
  left: -2px;
  opacity: 1;
  right: -2px;
  top: -2px;
  position: absolute;
  content: "";
}

.button {
  font-size: 14px;
  align-items: center;
  border: 2px solid #212121;
  border-radius: 4px;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  justify-content: space-between;
  min-width: 168px;
  padding: 0 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.4s, border 0.4s, color 0.4s, opacity 0.4s;
  vertical-align: middle;
  white-space: nowrap;

  span {
    position: relative;
    z-index: 2;
  }
}

.border-bottom {
  border-bottom: 1px solid #e3e8ee !important;
}
.video-container {
  min-height: calc(100vh - 450px);
}
.back-to-mainwebsite-container {
  @media screen and (max-width: $MOBILE_MAX_SIZE) {
    display: none;
  }
}
.back-button-main-website {
  border-right: 1px solid #e3e8ee;
  display: flex;
  align-items: center;
  padding-right: 24px;
  height: 100%;
  @media screen and (max-width: $TABLET_MAX-SIZE) {
    padding-right: 10px;
    border-right: none;
  }

  .navigate-main-website-button {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: flex-start;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    .back-text {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #212121;
      display: inline-block;
      vertical-align: bottom;
      line-height: 17px;
    }
  }
}

.graphiql-wrapper {
  .toolbar-button {
    background: #eaeaea !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 3px;
    // margin-top: 10px !important;
    // margin-bottom: 10px !important;
  }
  .topBarWrap {
    background: #fafafa !important;
    // padding-top: 10px;
    // padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0 !important;
  }

  .topBar {
    background: #fafafa !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border: none;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .execute-button {
    background: linear-gradient(
      90deg,
      #ff4200 0.01%,
      #e50695 99.99%
    ) !important;
    box-shadow: 0px 0px 2px #ffffff !important;
    border: none !important;

    svg {
      fill: #ffffff !important;
    }
  }

  .CodeMirror {
    background: #ffffff !important;
  }

  .docExplorerShow {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background: linear-gradient(
      135deg,
      #ff1800 20px,
      #ff009b calc(100% - 20px)
    ) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    text-decoration: none !important;
    position: relative !important;
    padding-left: 33px !important;
    padding-right: 20px !important;

    &::before {
      border-left: 2px solid #e50695 !important;
      border-top: 2px solid #e50695 !important;
      height: 7px !important;
      width: 7px !important;
      position: absolute !important;
      top: 53% !important;
      left: 18px !important;
      transform: translate(0%, -50%) rotate(-45deg) !important;
    }
  }
  .graphiql-container {
    .doc-explorer-title-bar {
      display: flex;
      align-items: center;
      .doc-explorer-title {
        padding: 0 !important;
      }
    }
    // .editorBar {
    //   .cm-s-seti {
    //     background-color: #ffffff !important;
    //   }
    // }
    // .resultWrap {
    //   .result-window {
    //     .cm-s-seti {
    //       background-color: #f1f1f1 !important;
    //     }
    //   }
    // }
  }
  // .editorBar {
  //   .CodeMirror-gutters {
  //     background-color: #f1f1f1 !important;
  //   }
  // }
}

.section-icon {
  width: 40px;
  margin-bottom: 10px;
}

.subheading {
  font-family: inherit;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #555555;
}
.gradient-text-toggle-button {
  @media screen and (max-width: 769px) {
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
  img {
    margin-bottom: 0;
  }
}
.collapse:not(.show):not(.show-collapse) {
  display: none;
}

.sidebar-container-list-item {
  height: 100%;
  padding-left: 7px;
  padding-right: 0;
  min-height: 78px;
}
.sidebar-menu-section-container {
  width: 700px;
  max-width: 700px;

  @media screen and (max-width: $LARGE_SCREEN_MIN_SIZE) {
    width: 366px;
    max-width: 366px;
  }
  @media screen and (max-width: $MOBILE_MAX_SIZE) {
    height: fit-content;
    // display: none;
  }

  .sidebar-menu-bootstrap-container {
    padding: 0px 24px 0 0;
    @media screen and (max-width: $LARGE_SCREEN_MIN_SIZE) {
      padding: 0 0 24px 0px;
    }
    @media screen and (max-width: $MOBILE_MAX_SIZE) {
      padding: 0 0 24px 0px;
      justify-content: flex-end;
    }
    .section-content-row {
      @media screen and (max-width: $LARGE_SCREEN_MIN_SIZE) {
        flex-direction: column !important;
      }
      @media screen and (max-width: $MOBILE_MAX_SIZE) {
        flex-direction: column !important;
        width: 100%;
        margin: 0;
        padding: 0 0 24px 0px;
      }
      .col {
        padding: 0 24px 0 0;
      }
    }
    .list-item-row {
      text-align: left;
      margin: 5px 0 2px 0;
      width: 100%;
      display: flex !important;
      .list-item-title {
        padding-top: 9px;
        .list-item-title-text {
          font-family: inherit;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #212121;
        }
      }
      .list-item-subtitle {
        margin-top: 6px;
      }
    }
  }
}
.globanav-container {
  margin-bottom: 56px;
  width: fit-content;
  .sidebar-menu-section-container {
    .section-content-row {
      .list-item-row {
        .sidebar-container-list-item {
          .list-item-title {
            padding-top: 4px;
          }
        }
      }
    }
    .sidebar-menu-bootstrap-container {
      @media screen and (max-width: $TABLET_MAX-SIZE) {
        padding: 0;
      }
    }
  }
}

.github-twitter-icon-container {
  @media screen and (max-width: $TABLET_MAX-SIZE) {
    display: none;
  }
}
.logo-container-tablet {
  padding: 20px;
}
.page-header .page-header {
  width: auto;
}
.search-bar-container {
  padding-left: 40px;
  flex: 1;

  .document-search-bar {
    margin-bottom: 0 !important;
    width: 100%;
    .document-form-group {
      margin-bottom: 0;
      height: 100%;

      .document-form-control {
        height: 100%;
        border: none;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #555555;
        outline: none !important;
        padding: 15px;
        width: 100%;

        &::placeholder {
          color: #999999;
        }
      }
    }
  }
}

.ais-Hits {
  position: fixed;
  top: 56px;
  left: 280px;
  width: 700px;
  max-width: 700px;
  min-height: 0px;
  overflow-y: auto;
  height: 400px;
  max-height: 400;
  padding: 0 24px;
  box-shadow: 2px 5px 5px 0px #e3e8ee;
  background: white;
  z-index: 3;
  border-radius: 4px;
  .ais-Hits-list {
    list-style-type: none;

    .ais-Hits-item {
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #555555;
      border-bottom: 1px solid #e3e8ee;
      margin: 0;
      div,
      span {
        display: inline-block;
        border-bottom: none !important;

        padding: 5px 5px;
      }
      .search-list-item-container {
        width: 100%;
        .search-link {
          padding: 0;
        }
      }
    }
  }
}

.ais-Highlight-highlighted {
  display: inline-block;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 0, 0.05) 0.01%,
    rgba(229, 6, 149, 0.05) 99.99%
  );
}

.search-result-title {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}

.search-result-subtitle {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
}

.header-icon-containers {
  @media screen and (max-width: $TABLET_MAX-SIZE) {
    display: none;
  }
}
.header-search-main-site-container {
  .page-logo {
    @media screen and (max-width: $TABLET_MAX-SIZE) {
      padding: 18px;
      border-right: 1px solid #e3e8ee;
      img {
        margin-bottom: 0px;
      }
    }
  }
}

.menu-icon-container-tablet {
  .menu-button {
    background: transparent;
    border: none;
  }
  padding: 0 20px;
  @media screen and (max-width: $MOBILE_MAX_SIZE) {
    padding-left: 0;
  }
}

.sidebar-container-visible {
  @media screen and (max-width: $TABLET_MAX-SIZE) {
    display: none;
  }
}
.toggle-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0px;
  box-shadow: 2px 5px 5px 0px #e3e8ee;
  @media screen and (max-width: $TABLET_MAX-SIZE) {
    background-color: #ffffff;
    z-index: 2;
    width: 240px;
  }
}

.stage-container {
  display: inline-block;
  margin-left: 8px;
  .stage-badge {
    display: inline-block;
    width: fit-content;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 2px 7px;
    border-radius: 10px;
    vertical-align: top;
  }
}
.full-logo-button {
  @media screen and (max-width: $MOBILE_MAX_SIZE) {
    display: none;
  }
}
.partial-logo-button {
  display: none;
  @media screen and (max-width: $MOBILE_MAX_SIZE) {
    display: inline-block;
  }
}
.backbutton-container-mobile {
  display: none;
  @media screen and (max-width: $MOBILE_MAX_SIZE) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 40px;
    padding-left: 24px;
  }
}
.code-editor-wrapper {
  .graphiql-container {
    .editorWrap {
      .editorBar {
        flex-direction: row;
        @media screen and (max-width: $MOBILE_MAX_SIZE) {
          flex-direction: column;
        }
      }
    }
  }
}
.grey-link-active,
.grey-link-active:hover {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}

.grey-link,
.grey-link:hover {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
}
.close-button {
  background: transparent;
}

.pad-lg-bottom-0 {
  // padding-bottom: 0;
}
