html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 32px;
  /* font-family: inherit; */
  font-family: inherit;
  font-style: var(font-weight-regular);
  font-weight: 400;
  line-height: 39px;
}

h2 {
  /* font-family: inherit; */
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #212121;
}

h3 {
  font-size: 1.38316rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85028rem;
}

h6 {
  font-size: 0.78405rem;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  ffont-style: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;

  /* dark grey */

  color: #555555;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.45rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
.page-header {
  display: flex;
  border-bottom: solid 1px #ddd;
  height: 50px;
  width: 100%;
}
.page-header a {
  display: inline-block;
  padding: 10px;
}
.page-logo {
  text-align: center;
}

.page-logo a {
  display: block;
  margin: 0 auto;
}

.page-logo img {
  max-width: 120px;
  margin-bottom: 20px;
}

.page-cta {
  margin-left: auto;
  border: 2px solid #ff1800;
}

.page-cta:hover .btn-dgraph {
  color: white;
}

.page-cta:hover {
  background: linear-gradient(135deg, #ff1800, #ff009b);
  background-clip: border-box;
  border-radius: 4px;
  bottom: -2px;
}

.btn-dgraph {
  font-size: 14px;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  color: #212121;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  justify-content: space-between;
  min-width: 168px;
  padding: 0 16px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .btn-dgraph {
    min-width: 100px;
    padding: 0;
  }
}

.sidenav {
  width: 160px;
  position: absolute;
  list-style: none;
}

.img-logo:hover {
  filter: brightness(80%);
}

.footer {
  text-align: center;
  padding-bottom: 15px;
}

.landing-pg {
  min-height: calc(100vh - 170px);
  padding: 0px 1.0875rem 1.45rem;
  margin-right: 150px;
  padding-top: 33px;
}
.landing-pg-extend {
  min-height: calc(100vh - 170px);
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 33px;
}
.CodeMirror-cursor {
  background: #fff !important;
}

.sidebar-inline {
  display: inline-block;
}

.sidebar-inline::after {
}

.sidebar-inline::before {
}

#gatsby-focus-wrapper {
  position: relative;
}
.landing-pg a {
  color: #111;
  font-weight: bold;
}
.landing-pg a:hover,
.landing-pg a:active,
.landing-pg a:focus {
  background: linear-gradient(135deg, #ff1800 20px, #ff009b calc(100% - 20px));
  color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
}

.page-title,
.landing-pg h1,
.landing-pg-extend h1 {
  font-size: 32px;
  color: #212121;
  margin-bottom: 24px;
}
.landing-pg h1.page-title {
  margin-bottom: 5px;
}
.landing-pg h2 {
  font-size: 26px;
  color: #212121;
  margin-top: 56px;
  font-family: HelveticaNeue-Medium;
}
.landing-pg h3 {
  font-size: 22px;
}

.page-title-summary {
  font-size: 26px;
  color: #555555;
}
.landing-pg pre {
  margin-bottom: 30px;
}
.spacing-title-summary {
  /** CHANGE the code*/
  font-size: 18px;
  margin-bottom: 15px;
  color: #555555;
  margin-bottom: 30px;
}
h1 + .spacing-title-summary {
  padding-bottom: 15px;
  font-size: 22px;
  border-bottom: solid 1px #e3e8ee;
  margin-bottom: 30px;
}
h2.page-title-summary {
  display: inline-block;
  margin-top: 0;
}

.note {
  font-weight: 500;
  font-style: italic;
  padding-top: 15px;
}

.badge-spacing {
  margin-right: 5px;
}

.badge-title {
  padding: 20px 0 20px 0;
}

.graphiql-tab {
  height: 500px;
}

.header-link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.img-slider-item {
  max-width: 100%;
  height: 400px;
}

.list-no-style {
  list-style: none;
}

/* .cursor-pointer {
  cursor: pointer;
  color: transparent;
  position: relative;
  display: inline-block;
  float: right;
  font-size: 12px;
} */
/* .cursor-pointer:after {
  content: "\f078";
  position: absolute;
  right: 0;
  top: 4px;
  color: #555;
  font-family: fontawesome;
} */
.accordion-show,
.accordion-hide {
  position: relative;
}
.accordion-toggle {
  display: block;
}
.cursor-pointer {
  cursor: pointer;
  display: block;
}
.accordion-hide .cursor-pointer .collapsible-arrow-down {
  display: none;
}
.accordion-show .cursor-pointer .collapsible-arrow-up {
  display: none;
}
.accordion-hide .cursor-pointer .collapsible-arrow-up {
  position: absolute;
  top: 5px;
  right: 0;
  display: inline;
}
.accordion-show .cursor-pointer .collapsible-arrow-down {
  position: absolute;
  top: 5px;
  right: 0;
  display: inline;
}

.titlebar-heading {
  text-align: center;
  padding-bottom: 10px;
}

.dropdown button {
  width: 100%;
  height: 40px;
  border: 2px solid rgba(214, 214, 214, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-version {
  ffont-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #212121;
}

.dropdown .btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: #fff !important;
  color: #212121 !important;
  font-size: 13px;
  text-align: left;
  border: 2px solid rgba(214, 214, 214, 0.5) !important;
  box-shadow: none !important;
  outline: none !important;
  font-weight: 400;

  line-height: 16px;
  line-height: 16px;
  font-weight: 500;
}
.dropdown-menu {
  width: 100%;
  padding: 5px !important;
}
.dropdown-menu .dropdown-item {
  border-radius: 4px;
  margin: 0 0 4px 0;
  ffont-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  padding: 6px 4px;
}
.dropdown-menu .active {
  color: #fff !important;
}
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item.active:hover,
.dropdown-menu .dropdown-item.active:active,
.dropdown-menu .dropdown-item.active:focus {
  background: linear-gradient(135deg, #ff1800 20px, #ff009b calc(100% - 20px));
}
.dropdown-menu .dropdown-item:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 0, 0.05) 0.01%,
    rgba(229, 6, 149, 0.05) 99.99%
  );
}

.dropdown .arrow-down {
  position: absolute;
  right: 15px;
  top: 13px;
  border: none;
}
.dropdown .arrow-up {
  display: none;
}

.show .arrow-down {
  display: none;
}
.show .arrow-up {
  position: absolute;
  right: 15px;
  top: 13px;
  border: none;
  display: inline;
}

.dropdown .dropdown-toggle::after {
  display: none;
}

.pink-link {
  color: #212121;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.pink-link:hover,
.pink-link:focus {
  background: linear-gradient(135deg, #ff1800 20px, #ff009b calc(100% - 20px));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
}
.pink-link-active {
  background: linear-gradient(135deg, #ff1800 20px, #ff009b calc(100% - 20px));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
}
.sidenav ul {
  padding: 0;
  margin: 0;
}
.sidenav ul ul {
  padding-left: 15px;
}
.sidenav .sidebar-wrap {
  padding: 0 20px 20px 24px;
  position: absolute;
  top: 218px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.sidenav li {
  margin-bottom: 20px;
  display: block;
}
.sidenav li a {
  color: #212121;
  font-size: 16px;
  font-family: HelveticaNeue-Medium;
}
.sidenav li a:hover,
.sidenav li a:active,
.sidenav li a:focus,
.sidenav li a.active {
  background: linear-gradient(135deg, #ff1800 20px, #ff009b calc(100% - 20px));
  color: transparent;
  -webkit-background-clip: text;
}
.landing-pg a:hover {
  text-decoration: none;
}
.sidenav {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: solid 1px #ddd;
  z-index: 999;
  padding: 20px;
  margin: 0;
}

.content-wrap {
  padding-left: 280px;
  padding-right: 56px;
  z-index: 1;
  position: relative;
}

@media screen and (min-width: 768px) {
  .content-wrap {
    padding-left: 280px;
  }
  .sidenav {
    width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .sidenav {
    width: 160px;
  }
  .sidenav .sidebar-wrap {
    padding: 15px;
  }
  .content-wrap {
    padding-left: 160px;
    padding-right: 20px;
  }
  .content-wrap .landing-pg {
    padding: 15px !important;
    margin: 0;
  }

  .sidebar-right-container {
    display: none;
  }
  /* .gradient-text-toggle-button span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  } */
}

.sidebar-content-dropdown-container .lighter-button,
.sidebar-content-dropdown-container .lighter-button:not(:disabled):active {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 0, 0.05) 0.01%,
    rgba(229, 6, 149, 0.05) 99.99%
  ) !important;
  border: none !important;
}

.sidebar-content-dropdown-container
  .sidebar-container-dropdown-menu
  .list-item-menu-header {
  padding: 24px 0;
}

.sidebar-content-dropdown-container
  .sidebar-container-dropdown-menu
  .list-item-row {
  height: calc(301px / 4);
  display: flex;
  align-items: center;
}

.list-item-title a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
  margin-bottom: 8px;
}
.list-item-title a:hover {
  background-image: linear-gradient(
    135deg,
    #ff1800 20px,
    #ff009b calc(100% - 20px)
  ) !important;
  color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
  -webkit-text-fill-color: transparent;
}
.list-item-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}
.gradient-text {
  background: linear-gradient(135deg, #ff1800 20px, #ff009b calc(100% - 20px));
  color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
}
.gradient-text-toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ffont-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.layout-icon {
  height: 18px;
  width: 20px;
  font-weight: bold;
  -webkit-background-clip: text;
}

.hide {
  display: none;
}
